@model CreateRoleViewModel

@{
    ViewData["Title"] = "Create Role";
    Layout = "_Layout";
}

<h1 class="main-title">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-sm-4">
        <form method="post" class="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="RoleName" class="col-sm-2"></label>*@
                <input asp-for="RoleName" class="form-control" placeholder="Role Name..." />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn create-btn mt-3">Create Role <i class="fa fa-plus"></i></button>
        </form>
    </div>
</div>