@model Ris2022.Data.Models.Department

@{
    ViewData["Title"] = Resource.AddNew + ' ' + Resource.OneDepartment;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
    let activeLink = document.querySelector(".scrollmenu .custom-nav-item#departmentLink");
    activeLink.classList.add("active");
</script>

<h1 class="main-title">@Resource.AddNew @Resource.OneDepartment</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" class="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Namear" class="control-label col-3"></label>
                <input asp-for="Namear" class="form-control" />
                <span asp-validation-for="Namear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nameen" class="control-label col-3"></label>
                <input asp-for="Nameen" class="form-control" />
                <span asp-validation-for="Nameen" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn create-btn" />*@
                <button type="submit" value="Create" class="btn create-btn">@Resource.Create <i class="fa fa-plus"></i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn back-btn">@Resource.BackToList <i class="fa fa-hand-o-right"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
